//- index.pug
extends main

block title
  title garden-ci

block content
  section.section
    .container
      table.table
        thead
          tr
            th buildId
            th Status
            th Project
            th Tag
            th Date
            th startDate
            th endDate
            th buildTime
        tbody
          each job, key in jobs
            tr
              td
                a(href="/build/"+job.id) ##{job.id}
              td
                if job.status === 'done'
                  span.tag.is-success #{job.status}
                else if job.status === 'running'
                  span.tag.is-warning #{job.status}
                else if job.status === 'queued'
                  span.tag #{job.status}
                else if job.status === 'failed'
                  span.tag.is-danger #{job.status}
              td
                a(href=job.params.project.web_url) #{job.params.project.path_with_namespace}
              td
                a(href=job.params.project.web_url + '/tree/' + job.params.checkout_sha)
                  strong #{job.params.ref ? job.params.ref.replace('refs/tags/', '') : job.params.object_attributes.ref}
              td
                span #{moment(job.date).format('YYYY/MM/DD HH:mm:ss')}
              td
                if job.startDate
                  span #{moment(job.startDate).format('YYYY/MM/DD HH:mm:ss')}
                else
                  span ---
              td
                if job.endDate
                  span #{moment(job.endDate).format('YYYY/MM/DD HH:mm:ss')}
                else
                  span ---
              td
                if job.startDate && job.endDate
                  - var d = moment.duration(moment(job.endDate).valueOf() - moment(job.startDate).valueOf())
                  span=  d.humanize()
                else
                  span ---
