//- index.pug
extends main

block title
  title garden-ci

block content
  section.section
    .container
      .columns
        .column.is-one-quarter
          nav.panel
            p.panel-heading
              | Job: ##{job.id}
              if job.status === 'done'
                span.tag.is-success.is-pulled-right #{job.status}
              else if job.status === 'running'
                span.tag.is-warning.is-pulled-right #{job.status}
              else if job.status === 'queued'
                span.tag.is-pulled-right #{job.status}
              else if job.status === 'failed'
                span.tag.is-danger.is-pulled-right #{job.status}
            a.panel-block(href=job.params.project.web_url)
              | Project: <strong>#{job.params.project.path_with_namespace}</strong>
            a.panel-block(href=job.params.project.web_url + '/tree/' + job.params.checkout_sha)
              | Tag: <strong>#{job.params.ref ? job.params.ref.replace('refs/tags/', ''): job.params.object_attributes.ref }</strong>
            .panel-block
              | Date: #{moment(job.date).format('YYYY/MM/DD HH:mm:ss')}
            .panel-block
              | Start:
              if job.startDate
                span  #{moment(job.startDate).format('YYYY/MM/DD HH:mm:ss')}
              else
                span  ---
            .panel-block
              | End:
              if job.endDate
                span  #{moment(job.endDate).format('YYYY/MM/DD HH:mm:ss')}
              else
                span  ---
            .panel-block
              if job.startDate && job.endDate
                - var d = moment.duration(moment(job.endDate).valueOf() - moment(job.startDate).valueOf())
                | Duration:  #{d.humanize()}
            p.panel-heading Tasks:
            if job.logs
              each log, task in job.logs
                a.panel-block(href='#'+task)
                  | #{task}
                  if log.code == '0'
                    span.tag.is-success.is-pulled-right Success
                  else
                    span.tag.is-danger.is-pulled-right Error
        .column.is-three-quarters
          if job.logs
            each log, task in job.logs
              h1.title.is-5(id=task)= task
              .message.is-info
                .message-header stdout
                .message-body
                  each line in log.stdout
                    | #{line}
                    br
              .message.is-danger
                .message-header stderr
                .message-body
                  each line in log.stderr
                    | #{line}
                    br
              hr
