//- index.pug
doctype html
html
  head(lang="en")
    block title
      title garden-ci
    link(rel="stylesheet",href="/css/bulma.css")

  body
    section.hero.is-success
      .hero-head
        header.nav
          .container
            .nav-left
              a.nav-item(href="/")
                strong(style="color:#ffffff") garden-ci
            .nav-right.nav-menu
              a.nav-item.is-active(href="https://gitlab.com/flowr-garden/garden-ci")
                | source code
      .hero-body
        .container.has-text-centered
          h1.title garden-ci
          h2.subtitle Simple Docker image build and delivery tool

    section.section
      block content
    footer.footer
      .container
        .content.has-text-centered
          p
            a(href="/") garden-ci
          p
            a(href="https://gitlab.com/flowr-garden/garden-ci") source code
